<% include ../partials/header %>


<div id="map" style="width: auto; height: 600px;"></div>



<script>

function initMap() {

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: {lat: 40.45, lng: -79.95},
  });

  var infowindow = new google.maps.InfoWindow();  
  var geocoder = new google.maps.Geocoder;
  var marker, i;
  
  for (i = 0; i < 2; i++) {
    console.log(i);

  }
  
    geocoder.geocode( { 'placeId': '<%=locs[0].address.place_id%>'}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var marker = new google.maps.Marker({
          position: results[0].geometry.location,
          map: map
        }); 
        google.maps.event.addListener(marker, 'click', function() { 
          infowindow.setContent('<%=locs[0].title%>'+"<br>"+'<%=locs[0].address.name%>');
          infowindow.open(map, marker);
        });
      } 
      else alert("some problem in geocode" + status);
    });
    
    geocoder.geocode( { 'placeId': '<%=locs[1].address.place_id%>'}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var marker = new google.maps.Marker({
          position: results[0].geometry.location,
          map: map
        }); 
        google.maps.event.addListener(marker, 'click', function() { 
          infowindow.setContent('<%=locs[1].title%>'+"<br>"+'<%=locs[1].address.name%>');
          infowindow.open(map, marker);
        });
      } 
      else alert("some problem in geocode" + status);
    });
  
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBMASIofsTNkOuEteCjHEgVEdUza3lkK8&libraries=places&callback=initMap"
    async defer></script>



<% include ../partials/footer %>