<% include ../partials/header %>

<p><img src="<%= item.image %>"></p>

<p><%= item.name %></p>
<p><%= item.author.username %></p>

<p><%= item.file %></p>

<% if(currentUser && item.author.id.equals(currentUser._id)){ %>
    <a class="btn btn-xs btn-warning" href="/items/<%= item._id %>/edit">Edit</a>
    <form id="delete-form" action="/items/<%= item._id %>?_method=DELETE" method="POST">
        <button class="btn btn-xs btn-danger">Delete</button>
    </form>
<% } %>


<p>
    <a class="btn btn-warning" href="/items/<%= item._id %>/comments/new">Add New Comment</a>
</p>

<% item.comments.forEach(function(comment){ %>
    <p><%= comment.author.username %> - <%= comment.text %></p>
<% }); %>



<% include ../partials/footer %>