<% include ../partials/header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<p><img src="<%= item.image %>"></p>

<p><%= item.name %></p>
<p><%= item.category.catename %></p>

<p> 
    <% if(currentUser && item.author.id.equals(currentUser._id)){ %>
        <a href="/myprofile/<%= user._id %>"><%= item.author.username %></a>
    <% } else { %>
        <a href="/profile/<%= user._id %>"><%= item.author.username %></a>
    <% } %>
</p>


<% if(currentUser && item.author.id.equals(currentUser._id)){ %>
    <a class="btn btn-xs btn-warning" href="/items/<%= item._id %>/edit">Edit</a>
    <form id="delete-form" action="/items/<%= item._id %>?_method=DELETE" method="POST">
        <button class="btn btn-xs btn-danger">Delete</button>
    </form>
<% } %>

<p>
    <% var flag = false; %>
    <% if(currentUser) { %>
        <% currentUser.favorites.forEach(function(favoriteItem){ %>
            <% if(favoriteItem.equals(item._id)) { flag = true; } %>
        <% } ); %>
    <% } %>
    <% if(currentUser && flag) { %>
        <p>FAVORITES
            <a href="/items/<%= item._id %>/favorite-off"><span class="glyphicon glyphicon-star"></span></a>
        </p>
    <% } else { %>
        <p>FAVORITES
            <a href="/items/<%= item._id %>/favorite-on"><span class="glyphicon glyphicon-star-empty"></span></a>
        </p>
    <% } %>
</p>


<p>
    <a class="btn btn-warning" href="/items/<%= item._id %>/comments/new">Add New Comment</a>
</p>

<% item.comments.forEach(function(comment){ %>
    <p><%= comment.author.username %> - <%= comment.text %></p>
<% }); %>

<div id="map"></div>

<% include ../partials/footer %>

<style>
  #map {
    height: 400px;
    width: 800px;
   }
</style>

<script>
  function initMap() {
    //var pittsburgh = {lat: 40.445, lng: -79.95};
    var map = new google.maps.Map(document.getElementById('map'), {});
    var geocoder = new google.maps.Geocoder;
    var place_id = '<%= item.address.place_id %>';
    geocoder.geocode({'placeId': place_id}, function(results, status) {
      if (status === 'OK') {
        if (results[0]) {
          map.setZoom(15);
          map.setCenter(results[0].geometry.location);
          var circle = new google.maps.Circle({
              strokeWeight: 0,
              fillColor: '#FF0000',
              fillOpacity: 0.35,
              map: map,
              center: results[0].geometry.location,
              radius: 100
          });
        } else {
          window.alert('No results found');
        }
      } else {
        window.alert('Geocoder failed due to: ' + status);
      }
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBMASIofsTNkOuEteCjHEgVEdUza3lkK8&callback=initMap">
</script>
